h1 {
  font-size: 3rem;
  margin-top: 0;
}

img {
  width: 100%;
}

span {
  color: #ef2844;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hero {
  padding: 2rem;
  background-color: #141627;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
}

.hero p {
  margin-bottom: 3em;
}

.btn {
  background-color: #ef2844;
  padding: 0.75em 2em;
  border: 0;
}

.btn a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
}
